@import url('https://fonts.googleapis.com/css2?family={{fontName}}:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

/* Variables */

:root{
  	--font-size: {{fontSize}}px;
    --chat-direction: {{chatDirection}};
    --message-width: {{msgStretch}};
  	--msg-radius: {{msgRadius}}px;
    --msg-gap: {{msgGap}}px;
    --emote-size: {{emoteSize}}px;
    --emote-only-size: {{emoteOnlySize}}px;
    --badge-gap: {{badgeGap}}px;
    --badge-size: {{badgeSize}}px;
    --animate-duration: {{animateDuration}}ms!important;
}

/* Themes */

.theme-light{
    --bg: #f7f8fd;
    --text: #777b8d;
    --text-alt: #d9dbe7;
}

.theme-dark{
  --bg: #1f2129;
  --text: #b4bcd3;
  --text-alt: rgb(90, 90, 110);
}

.theme-custom{
  --bg: {{customThemeBG}};
  --text: {{customThemeText}};
  --text-alt: {{customThemeTextAlt}};
}

/* Role Colors */

.regular{
    --ribbon-1: #fff;
    --ribbon-2: #fff;
    --ribbon-3: #fff;
    --ribbon-4: #fff;
}

.regular > .message-box > .user-role{
    opacity: 0;
}

.subscriber{
  --ribbon-1: {{subscriber1}};
  --ribbon-2: {{subscriber2}};
  --ribbon-3: {{subscriber3}};
  --ribbon-4: {{subscriber4}};
}

.vip{
  --ribbon-1: {{vip1}};
  --ribbon-2: {{vip2}};
  --ribbon-3: {{vip3}};
  --ribbon-4: {{vip4}};
}

.moderator{
  --ribbon-1: {{moderator1}};
  --ribbon-2: {{moderator2}};
  --ribbon-3: {{moderator3}};
  --ribbon-4: {{moderator4}};
}

.broadcaster{
  --ribbon-1: {{broadcaster1}};
  --ribbon-2: {{broadcaster2}};
  --ribbon-3: {{broadcaster3}};
  --ribbon-4: {{broadcaster4}};
}

/* Main Setup */

body{
    margin: 0;
    padding: 0;
  	font-family: '{{fontName}}', sans-serif;
  	font-size: var(--font-size);
}

p{
    margin: 0;
}

hr{
    height: 0.0625em;
    background: var(--text-alt);
    border: none;
}

.chat-message{
    position: relative;
  	display: flex;
  	flex-direction: column;
}

.main-container{
	width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: #fff;
    font-weight: 700;
    display: flex;
  	justify-content: flex-end;
  	flex-direction: var(--chat-direction);
  	gap: var(--msg-gap);
  	padding: 10px;
}

.message-box, .alert-box{
  background: var(--bg);
  color: var(--text);
  box-sizing: content-box;
  display: flex;
  width: var(--message-width);
  border-radius: var(--msg-radius);
  overflow: hidden;
  position: relative;
}

.emote{
  vertical-align: middle;
  background-repeat:no-repeat;
  background-size: contain;
  height: var(--emote-size);
}

.emote-only > img{
  height: var(--emote-only-size);
  vertical-align: middle;
}

.reply{
    position: relative;
  	z-index: 2;
    background: var(--bg);
    color: var(--text);
    padding: .125em .6875em;
    border-radius: var(--msg-radius);
  	font-size: .75em;
  	display: flex;
  	align-items: center;
  	margin-bottom: 0.25em;
}

.badges{
    display: flex;
    gap: var(--badge-gap);
    align-items: center;
}

.badge{
    height: var(--badge-size);
    vertical-align: middle;
}

.separator{
  color: var(--text-alt);
}

.update-notif{
    width: 100%;
    border-radius: var(--msg-radius);
    font-weight: 800;
    display: flex;
    justify-content: center;
  	text-align: center;
}

.success{
	background: var(--bg);
  	color: var(--text);
}

.warning{
	background: #ed1b53;
  	color: #fff;
}

/* Chat */

.user-role{
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.user-role-ribbon{
  width: 6px;
  height: 25%;
}

.user-role-ribbon > p{
  opacity: 0;
}
.ribbon-1{
  background-color: var(--ribbon-1);
}

.ribbon-2{
  background-color: var(--ribbon-2);
}

.ribbon-3{
  background-color: var(--ribbon-3);
}

.ribbon-4{
  background-color: var(--ribbon-4);
}

.message-wrapper{
  padding: 1em;
  width: var(--message-width);
}

.flex-row{
  display: flex;
  flex: row;
}

.user-container{
  justify-content: space-between;
  gap: 10px;
}

.user-box{
  gap: 10px;
}

.badge-container, .details{
  gap: 10px;
}

.details{
  align-items: center;
}

.details > p:first-child{
  font-size: .65em;
}

/* Alerts */

.alert-box{
  padding: 0.9375em;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
}

.alert-box > div, .alert-box > p{
  display: flex;
  width: fit-content;
  position: relative;
  z-index: 1;
}

.bg-1{
  position: absolute;
  left: -13%;
  bottom: -78%;
}

.bg-2{
  position: absolute;
  right: -12%;
  bottom: -58%;
}

.alert-contents{
  text-transform: uppercase;
}

.cursor{
  background: var(--text);
  width: .65em;
  height: 1em;
  animation: blink 1s steps(1) 0s infinite;
}

@keyframes blink {
  50%{
    opacity: 0;
  }
}

.cursor > p{
  opacity: 0;
}

.alert-title{
  font-size: .65em;
  text-transform: uppercase;
}

.alert-title-arrow{
  animation: arrow 2s ease-in-out 0s infinite;
}

@keyframes arrow {
  50%{
    transform: translateX(0.3125em);
  }
}

.alert-title-wrapper{
  align-items: center;
  opacity: 0;
  animation: alertSlideIn 500ms ease-out 0s 1 forwards;
}

.alert-contents-wrapper{
  align-items: center;
  gap: 0.1875em;
  opacity: 0;
  animation: alertSlideIn 500ms ease-out 250ms 1 forwards;
}

.alert-subtext{
  font-size: .75em;
  text-transform: uppercase;
  opacity: 0;
  animation: alertSlideIn 500ms ease-out 500ms 1 forwards;
}

@keyframes alertSlideIn {
  0%{
    opacity: 0;
    transform: translateX(-2em);
  }
  100%{
    opacity: 1;
  }
}

.alert-circles{
  display: flex;
  gap: 0.625em;
  position: absolute;
  top: 0.9375em;
  right: 0.9375em;
}

.alert-circle-1{
  animation: circleFade 2s ease-in-out 0ms infinite;
}

.alert-circle-2{
  animation: circleFade 2s ease-in-out 250ms infinite;
}

.alert-circle-3{
  animation: circleFade 2s ease-in-out 500ms infinite;
}

@keyframes circleFade {
  50%{
    opacity: 0;
  }
}